<html>
<head>
  <title>SPFL</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />



<link rel="icon" href="http://spfl.co.uk/favicon.png" type="image/png" />

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar" aria-expanded="false"
      aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href={{ url_for("home")}}>SPFL Home</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
       
        <li><a href="{{ url_for("teams")}}">Teams</a></li>
        <li><a href="{{ url_for("standings")}}">Standings</a></li>
	 <li><a href="{{ url_for("media")}}">Media</a></li>
	 
  </nav>

<IMG class="spfl" src="https://upload.wikimedia.org/wikipedia/en/3/33/Scottish_Professional_Football_League.svg" alt="SPFL">

   <div class="container">
      <div style="text-align: center;"> <h1>ERROR 404  </h1>
        
        <h5>Sorry you have entered an invalid URL, you can use the navbar to find SPFL, Teams, Standings & Media </h5>





  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src={{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
<hr> </hr>
<footer>
  <p>Created By Gerard Edelsten</p>
  <p>40123504@live.napier.ac.uk <a href="40123504@live.napier.ac.uk"></a>
  Web Design and Development Student at Edinburgh Napier University.</p>
</footer>
</html>